{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
    <img src="{% static 'img/faculty.png' %}" style="margin-left: 200px; width: 500px; height: 300px;">
        <p>Факультет естественных наук образован, как самостоятельный факультет, в 2008 году и в этом же году был
        осуществлен первый набор студентов. В составе факультета имеется три отделения: Отделение математики, Отделение
        прикладной математики и информатики и Отделение биологии. На отделения факультета принимаются студенты из
        Кыргызстана, Турции, Средней Азии и других стран мира.</p>
        <p>С 2013 -2014 учебного года 1 9 преподавателей, работающих на полной ставке и 12 преподавателя на полуставке,
        обучают 2 35 студента. Преподаватели нашего факультета также ведут общеобразовательные дисциплины по математике,
        физике и статистике на других факультетах университета.</p>
        <p>Прием студентов на наш факультет осуществляется по результатам Общереспубликанского тестирования КР, проводимым
        Министерством образования и науки КР, ÖYS - Турецкой Республикой и ÖSYM- Университетом “Манас”. На факультете
        имеется, оснащеная современным оборудованием, лаборатория физики. Для студентов Отделения математики и Отделения
        прикладной математики и информатики создана компьютерная лаборатория, где имеется 20 компьютеров. В отделении
        работают 2 профессора, 2 доцент, 3 и.о.доцент, 1 старший преподаватель, 1 младший научный сотрудник и 2
        лаборанта.</p>
        <p>В оснащенных современным оборудованим лабораториях Гистологии/Морфологии, Биохимии, Ботаники и Зоологии
        Отделения биологии, преподаватели могут проводить не только практические занятия для студентов, так же вести
        научные иссловательские работы. Кроме того, на земельном участке площадью в 1 га начаты работы по созданию
        ботанического сада для проведения учебно-полевых работ. В отделении биологии на полной ставке работают 5
        доцентов, 1 и.о.доцент и 1 лаборант.</p>
    </div>
    <br>
    <br>
{% endblock %}