{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h2>Математика бөлүмү жөнүндө маалымат</h2>

        <p>Кыргыз-Түрк “Манас” Университетинин Табигый Илимдер Факультетинин математика бөлүмү эл аралык билим берүү
            стандартынын талаптарына ылайык, азыркы математика жана компьютердик технологиядагы өнүгүүлөр менен жакындан
            тааныш, бакалавр даражасындагы адистерди, магистрларды даярдайт.</p>

        <p>Математика бакалавры, математикалык методдорду колдонуп изилдөөлөрдү жүргүзгөн, процесстердин жана
            объекттердин
            математикалык моделдерин түзүп колдонгон, техникадагы, табият таттуу мамиледе болгон, экономиканын жана
            башкаруунун
            маселелерин чечүүдө эффективдүү болгон математикалык моделдерди иштеп чыгып колдоно алган адистерди
            даярдайт.</p>


        Профессордук-окутуучулук курамы

        <p>Бөлүмдүн билим берүү багыттары боюнча программалары жогорку квалификациялуу, педагогикалык тажрыйбасы бар
            бөлүмдүн
            профессордук-окутуучулук курамы менен ишке ашырылып жатат. Булар 2 профессор, 1 доцент, , 2 ага окутуучу 1
            кенже
            илимий кызматкер. Алар математиканын көптөгөн жаңы тармактарында фундаменталдык жана колдонмо илимий
            изилдөөлөрдү</p>
        жүргүзүшөт.

        <ul>Бөлүмүбүздүн кураторлорунун тизмеси

            <li>Кенже илимий кызматкер. Бурак Огул ( 1. sınıf )</li>
            <li>ф. м. и. к, Абдылдаева Элмира ( 2. sınıf )</li>
            <li>Академиялык адис Акматбекова Азат( 3. sınıf )</li>
            <li>ф. м. и. к, Матанова Калыскан ( 4. sınıf )</li>
        </ul>

    <br><br><br><br>
        <h1>Уроки</h1>
        <table class="table table-bordered">
            <tr>
                <th>Код</th>
                <th>Наименование</th>
                <th>Кредиты</th>
            </tr>
            {% for item in lesson %}
                <tr>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.credit }}</td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
    <br><br>
    </div>
{% endblock %}